.body-login{
	background:#edf4f4;
}
.container{
	width:98% !important;
}
.mtop3{ margin-top:3px;}
.mtop5{ margin-top:5px;}
.mtop10{ margin-top:10px;}

.fleft{ float:left !important;}
.fright{ float:right !important;}

.fRoboto{ 'Oswald', sans-serif;}

.w100pt{width:100%;}
.w80pt{ width:80%; }

.f12{ font-size: 12px; }
.f14{ font-size: 14px; }
.f16{ font-size: 16px; }
.f18{ font-size: 18px; }

.fweight600 { font-weight: 600;}
.cwhite { color: #fff !important}
.red {
	color: red;
}
.input-group-addon{
	border-radius: 0 !important;
	position: relative;
	top: 1px;
	height: 20px !important;
	padding: 0 10px;
	background-color: #fff;
	border: 0px solid #d7e1e3 !important;
}
.select2me{
	width:100%;
	text-align:left;
}
.form-control{
	
}
.form-register .form-control{
	border:1px solid #c5ccd1;
}
.forms{
	opacity:0.75;
}
.searcatalog{
	padding:20px;
	padding: 20px;
	border: 2px solid #e3e1e1;
}
.searcatalog .form-control.select2-container {
    border: 1px solid #c5ccd1;
}
.searcatalog .select2-container-active{
	border: 0px solid #c5ccd1 !important;
}
.menusearch{
	width:100%;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom:10px;
	margin-top: -10px;
}
/* S customeselect */
.customeselect .select2-container .select2-choice .select2-arrow{
	border:0px;
}
.customeselect .form-control .select2-choice{
	height:39px;
	line-height:30px;
	background:none;
}
.customeselect .select2-container .select2-choice > .select2-chosen{
	background: #e5eaeb;
	border-radius: 18px;
	padding-left:15px;
	padding-right:15px;
	padding-top:1px;
}
.customeselect .select2-search{
	border-top:1px soild #f00;
}
.customeselect .select2-container-active .select2-choice,
.select2-container-active .select2-choices {
	-webkit-box-shadow: none !important;        
	box-shadow: none !important;
	border:1px solid #fff !important;
}
.customeselect .select2-container .select2-choice abbr{
	top:12px;
}
.customeselect .select2-container .select2-choice .select2-arrow b{
	margin-top:2px;
}
.form-input{
	border: 1px solid #d7e1e3 !important;
	height:33px;
	margin-top:3px;
	width:100%;
	padding:0 15px;
	border-radius: 18px;
	
}
.customeselect .btn{
	border-radius: 18px;
	height: 33px;
	margin-top: 3px;
	padding:3px 12px;
	background: #ff6766;
	color:#fff !important;
}
.customeselect .select2-container{
	background:none !important;
}
.customeselect .form-control .select2-choice{
	border: 0!important;
}
.customeselect .select2-container .select2-choice .select2-arrow{
	background:none !important;
}
.customeselect .form-control{
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
.btn-more{
	width:80%;
	padding:0 10px !important;
	
}
.pleft{
	background:#f9f9f9;
	padding-top:15px;
}
.img_post{
	margin-top:-5px;
}
.img_register{
	margin-top:-5px;
}
.main-logo{
	height:51px;
	margin-top:7px;
}
.logo-company{
	height:51px;
	margin-top:7px;
}
.btn-dang-tin{
	width:130px; 
	float:right;
	margin-bottom:0px;
}
.home{
	padding-top:11px !important; 
}
/* E customeselect */
/* S Sell */
ul.price{
	margin:0;
	padding:0;
	margin-bottom:5px;
}
ul.price li{
	list-style:none;
	padding:3px;
}
/* E Sell*/
/**
* S profile
*
*/
.aside-title-profile{
	margin-top:0px !important;
}
.sidebar-profile {
    background-color: #EEE;
    padding: 15px;
}
.sidebar-profile .aside-title{
	font-size: 14px;
}
.sidebar-profile .aside-profile{
	padding-left: 5px;
	padding-right: 5px;
}
.dealer-widget {
    background-color: #d6dada;
    padding: 15px;
    color: #666;
    padding-bottom: 20px;
    margin: -15px -15px 0px;
}
.dealer-name{
	margin-top: -5px;
}
.dealer-name a{
	margin-bottom: 5px;
	font-size: 18px;
}
.dealer-name span{
    margin-top: 6px;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 400;
}
.dealer-contacts {
    list-style: outside none none;
    padding: 30px 0px 0px 10px;
}
.clear {
    clear: both;
    overflow: hidden;
}
.dealer-social-media a{
	margin-left: 8px;
}
.wizard-card {
    padding: 10px 0px;
    border: 1px solid #eee;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.content-profile .nav-pills{
	background: #f1f5f5;
}
.content-profile .nav-pills > li.active > a{
	border-radius: 0;
	background: #98c9c9;
}
.content-profile .form-control {
    border: 1px solid #d7e1e3;

}
.content-profile .form-control .select2-choice{
	border: 1px solid #d7e1e3;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.tab-content label{
	font-weight: 400 !important;
}
.btn-avatar {
    padding-left: 20px;
    padding-right: 20px;
    border-color: transparent;
    padding-top: 3px;
    padding-bottom: 7px;
    letter-spacing: .5px;
    border-radius: 20px;
    height: 30px;
	background: #98c9c9;
}
/**
* E profile
*/