.mtop3{ margin-top:3px;}
.mtop5{ margin-top:5px;}
.mtop10{ margin-top:10px;}
.w100pt{
	width:100%;
}
.select2me{
	width:100%;
	text-align:left;
}
.form-control{
	border:0px solid #f00;
}
.form-register .form-control{
	border:1px solid #c5ccd1;
}
.forms{
	opacity:0.75;
}
.searcatalog{
	background:#e3e1e1;
	padding:20px;
}
.searcatalog .form-control.select2-container {
    border: 1px solid #c5ccd1;
}
.searcatalog .select2-container-active{
	border: 0px solid #c5ccd1 !important;
}